<form [formGroup]="geografijaGameForm" (ngSubmit)="submit()">
    
    <p>
        <mat-form-field>
          <input type="text"  matInput placeholder="Drzave" formControlName="drzave">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
          <input type="text"  matInput placeholder="Gradovi" formControlName="gradovi">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
          <input type="text"  matInput placeholder="Jezera" formControlName="jezera">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
          <input type="text"  matInput placeholder="Planine" formControlName="planine">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
          <input type="text"  matInput placeholder="Reke" formControlName="reke">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
          <input type="text"  matInput placeholder="Zivotinje" formControlName="zivotinje">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
          <input type="text"  matInput placeholder="Biljke" formControlName="biljke">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
          <input type="text"  matInput placeholder="Muzicka grupa" formControlName="muzickaGrupa">
        </mat-form-field>
    </p>


   
</form>