<mat-card style="align-items:center;">
  <mat-card-title>Reset password</mat-card-title>
  <mat-card-content>
    <form [formGroup]="resetQuestionForm" (ngSubmit)="submit()">

      <p>
        Question:
        {{question}}
      </p>
      <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Answer" formControlName="answer">
          </mat-form-field>
        </p>


      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
          <div class="login100-form-bgbtn"></div>
          <button type="submit" class="login100-form-btn" mat-button>
            Reset
          </button>
        </div>
      </div>


    </form>

  </mat-card-content>


</mat-card>