<div class="container">

  <mat-toolbar color="primary">

    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <h1 class="title">Welcome {{username}} </h1>

  </mat-toolbar>



  <mat-sidenav-container class="sidenav-container">

    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">

      <mat-nav-list>
        <a mat-list-item (click)="request()">Request</a>
        <a mat-list-item (click)="singleGame()">Single Game</a>
        <a mat-list-item (click)="logout()">Logout</a>


      </mat-nav-list>

    </mat-sidenav>



    <mat-sidenav-content>
      <mat-card style="align-items:center;">
        <mat-card-title>Insert Single Game</mat-card-title>
        <mat-card-content>
          <form (ngSubmit)="submit()">
            <p>
              <mat-form-field class="example-full-width">
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a date" [formControl]="date" [value]="picker" [name]="datum">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field>
                <mat-label>Anagram</mat-label>
                <mat-select [formControl]="anagramControl">
                  <mat-option>-- None --</mat-option>
                  <mat-optgroup *ngFor="let group of anagramGroups" [label]="group.name" [disabled]="group.disabled">
                    <mat-option *ngFor="let anagram of group.anagram" [value]="anagram.zagonetka">
                      {{anagram.zagonetka}}
                      <br>
                      {{anagram.resenje}}
                    </mat-option>
                  </mat-optgroup>
                </mat-select>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field>
                <mat-label>Pehar</mat-label>
                <mat-select [formControl]="peharControl">
                  <mat-option>-- None --</mat-option>
                  <mat-optgroup *ngFor="let group of peharGroups" [label]="group.name" [disabled]="group.disabled">
                    <mat-option *ngFor="let anagram of group.anagram" [value]="anagram.zagonetka">
                      {{anagram.zagonetka}}
                      <br>
                      {{anagram.resenje}}

                    </mat-option>
                  </mat-optgroup>
                </mat-select>
              </mat-form-field>
            </p>
            <p *ngIf="error" class="error">
              {{ error }}
            </p>
            <p *ngIf="poruka" class="poruka">
              {{ poruka }}
            </p>

            <div class="container-login100-form-btn">
              <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <button type="submit" class="login100-form-btn" mat-button>
                  Insert
                </button>
              </div>
            </div>


          </form>
        </mat-card-content>

      </mat-card>

    </mat-sidenav-content>

  </mat-sidenav-container>

</div>